<body>
  <div class="table-title">
    <h3>Groups</h3>
  </div>
  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Members</th>
        <th class="text-left">Channels</th>
        <th class="text-left">Create Channel</th>
        <th class="text-left">Manage Group</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <ng-container *ngFor="let group of showngroups">
        <tr>
          <td class="text-left">{{ group.name }}</td>
          <td class="text-left">
            {{ group.members }}
          </td>
          <td class="text-left">
            <div *ngFor="let channel of group.channels">
              <a href="/channel" (click)="go(channel)">{{ channel }}</a>
            </div>
          </td>
          <td>
            <input
              [(ngModel)]="channelname"
              type="text"
              class="form-control"
              id="channelname"
              name="channelname"
              placeholder="channelname"
              *ngIf="superAdmin || groupAdmin || groupAssist"
            />
            <button
              class="btn btn-primary"
              (click)="addchannel(group.name)"
              *ngIf="superAdmin || groupAdmin || groupAssist"
            >
              Createchannel
            </button>
          </td>

          <td>
            <button
              class="btn btn-primary"
              (click)="remove(group.name)"
              *ngIf="superAdmin || groupAdmin"
            >
              Remove
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <br />
  <h3 *ngIf="superAdmin || groupAdmin">Manage Group Member</h3>
  <br />
  <ng-container *ngFor="let group of showngroups">
    <h4 *ngIf="superAdmin || groupAdmin">group {{ group.name }}</h4>
    <br />
    <select [(ngModel)]="aname" name="aname" *ngIf="groupAdmin || superAdmin">
      <option *ngFor="let user of getaddgroupuser(group.members)">
        {{ user }}
      </option>
    </select>

    <button
      class="btn btn-primary"
      (click)="addmember(group.name)"
      *ngIf="groupAdmin || superAdmin"
    >
      Add member</button
    ><br />
    <select [(ngModel)]="dname" name="dname" *ngIf="groupAdmin || superAdmin">
      <option *ngFor="let user of group.members">
        {{ user }}
      </option>
    </select>
    <button
      class="btn btn-primary"
      (click)="deletemember(group.name)"
      *ngIf="groupAdmin || superAdmin"
    >
      Delete member</button
    ><br />
  </ng-container>
  <br />
  <h3 *ngIf="superAdmin || groupAdmin || groupAssist">Manage Channels</h3>
  <br />
  <ng-container *ngFor="let group of showngroups">
    <h4 *ngIf="superAdmin || groupAdmin || groupAssist">
      group {{ group.name }}
    </h4>

    <select
      [(ngModel)]="currentChannel"
      name="currentChannel"
      *ngIf="groupAdmin || superAdmin || groupAssist"
    >
      <option *ngFor="let channel of group.channels">
        {{ channel }}
      </option>
    </select>

    <button
      class="btn btn-primary"
      (click)="removechannel(channel, group.name)"
      *ngIf="groupAdmin || superAdmin || groupAssist"
    >
      Removechannel</button
    ><br />
  </ng-container>
  <br />
  <form *ngIf="superAdmin" class="form-horizontal">
    <h3>Create User</h3>
    <div class="form-group">
      <!-- Full Name -->
      <label for="full_name_id" class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input
          [(ngModel)]="name"
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
        />
      </div>
    </div>

    <div class="form-group">
      <!-- Email -->
      <label for="email_id" class="control-label col-sm-2">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          [(ngModel)]="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
        />
      </div>
    </div>

    <div class="form-group">
      <!-- Frequency Field -->
      <label class="control-label col-sm-2">Role</label>
      <div class="col-sm-10">
        <div class="radio">
          <label class="radio">
            <input
              name="normal user"
              type="radio"
              [(ngModel)]="admin"
              value="Normal User"
            />
            Normal User
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input
              name="group admin"
              type="radio"
              [(ngModel)]="admin"
              value="Group Admin"
            />
            Group Admin
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input
              name="super admin"
              type="radio"
              [(ngModel)]="admin"
              value="Super Admin"
            />
            Super Admin
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input
              name="group"
              type="radio"
              [(ngModel)]="admin"
              value="Group Assist"
              checked
            />
            Group Assis
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- Submit Button -->
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" (click)="adduser()" class="btn btn-primary">
          Create
        </button>
      </div>
    </div>
  </form>
  <br /><br />

  <form *ngIf="groupAdmin || superAdmin" class="form-horizontal">
    <h3>Create Group</h3>
    <div class="form-group">
      <!-- Full Name -->
      <label for="full_name_id" class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input
          [(ngModel)]="groupname"
          type="text"
          class="form-control"
          id="groupname"
          name="groupname"
          placeholder="groupname"
        />
      </div>
    </div>

    <div class="form-group">
      <!-- Submit Button -->
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" (click)="creategroup()" class="btn btn-primary">
          Create
        </button>
      </div>
    </div>
  </form>
  <br /><br />

  <form *ngIf="superAdmin" class="form-horizontal">
    <h3>Delete User</h3>
    <div class="form-group">
      <!-- Full Name -->
      <label for="full_name_id" class="control-label col-sm-2">Name:</label>
      <div class="col-sm-10">
        <select [(ngModel)]="deleteusername" name="deleteusername">
          <option *ngFor="let user of usernamelist">
            {{ user }}
          </option> </select
        ><br /><br />
      </div>
    </div>

    <div class="form-group">
      <!-- Submit Button -->
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" (click)="deleteuser()" class="btn btn-primary">
          Delete
        </button>
      </div>
    </div>
  </form>
  <br /><br />
</body>
